<h2>Curso Info</h2>

<hr/>

<form #cursoForm="ngForm" *ngIf="curso">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="curso.name" required name="name" #cursoName="ngModel" [ngClass]="{'is-invalid': cursoName.invalid}" class="form-control">
            <!--required = obrigatorio preenchimento do campo
                #cursoName = variavel de template 
                [ngClass]="{'is-invalid': cursoName.invalid}" = {classe:condição} nome da class no bootstrap verifica variavel de template quando esta vazia e deixa o campo em vermelho-->
            <div class="invalid-feedback">
                <span>Curso name is required</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Price:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="curso.price" required name="price" #cursoPrice="ngModel" type="number"
                [ngClass]="{'is-invalid': cursoPrice.invalid}" class="form-control">

            <div class="invalid-feedback">
                <span>Curso price is required</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Rating:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="curso.rating" required name="rating" #cursoRating="ngModel" type="number"
                [ngClass]="{'is-invalid': cursoRating.invalid}" class="form-control">

            <div class="invalid-feedback">
                <span>Curso rating is required</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            <textarea [(ngModel)]="curso.description" required name="description" #cursoDescription="ngModel"
                [ngClass]="{'is-invalid': cursoDescription.invalid}" class="form-control"></textarea>

            <div class="invalid-feedback">
                <span>Curso description is required</span>
            </div>
        </div>
    </div>

    <button [disabled]="cursoForm.invalid" (click)="save()" class="btn btn-primary mr-2">Save</button>
    <button [routerLink]="['/cursos']" class="btn btn-secondary">Voltar</button>
</form> 
